*.cs linguist-detectable=true
*.csproj linguist-detectable=true
*.sln linguist-detectable=true

*.html linguist-detectable=true
*.css linguist-detectable=true

/bin/** linguist-vendored=false
/obj/** linguist-vendored=false
/wwwroot/** linguist-vendored=false
/node_modules/** linguist-vendored=false
